<div class="container list-object">
    <div class="alert" [ngClass]="{ 'alert-success': saveSuccess, 'alert-warning': !saveSuccess }" *ngIf="userMessage">
        {{userMessage}}
      </div>
    <form #addPropertyForm="ngForm">
  
      <div class="form-group" [class.has-error]="firstLineAddress.invalid && addPropertyForm.submitted">
        <label for="firstLineAddress" class="control-label field-name control-label" >First Line Address</label>
        <input #firstLineAddress="ngModel" required type="string" class="form-control" name="firstLineAddress" id="firstLineAddress" [(ngModel)]="property.firstLineAddress"  >
        <div *ngIf="firstLineAddress.invalid && addPropertyForm.submitted">
            First Line Address is Required
          </div>
      </div>
  
      <div class="form-group" [class.has-error]="secondLineAddress.invalid  && addPropertyForm.submitted">
          <label for="secondLineAddress" class="control-label field-name control-label" >Second Line Address</label>
          <input #secondLineAddress="ngModel" required type="string" class="form-control" name="secondLineAddress" id="secondLineAddress" [(ngModel)]="property.secondLineAddress"  >
          <div *ngIf="secondLineAddress.invalid && addPropertyForm.submitted">
            Second Line Address is Required
          </div>
        </div>

        <div class="form-group" [class.has-error]="country.invalid && addPropertyForm.submitted">
          <label for="country" class="control-label field-name control-label" >Country</label>
          <input #country="ngModel" required type="string" class="form-control" name="country" id="country" [(ngModel)]="property.country" >
          <div *ngIf="country.invalid && addPropertyForm.submitted">
              Country is Required
            </div>
        </div>

        <div class="form-group" [class.has-error]="city.invalid && addPropertyForm.submitted">
          <label for="city" class="control-label field-name control-label" >City</label>
          <input #city="ngModel" required type="string" class="form-control" name="city" id="city" [(ngModel)]="property.city" >
          <div *ngIf="city.invalid && addPropertyForm.submitted">
              City is Required
            </div>
        </div>

        <div class="form-group" [class.has-error]="postcode.invalid && addPropertyForm.submitted">
            <label for="postcode" class="control-label field-name control-label" >Postcode</label>
            <input #postcode="ngModel" required type="string" style="text-transform:uppercase" maxlength="8" class="form-control" name="postcode" id="postcode" [(ngModel)]="property.postcode" placeholder="">
            <div *ngIf="postcode.invalid && addPropertyForm.submitted">
               Postcode is Required
              </div>
          </div>

          <h5>Please Click to Place Mark on Map Where Property is Located</h5>
            <div class="form-group">
                <label for="landlordId" class="field-name" >Landlord</label>
                <select class="form-control" input type="number" required  id="landlordId" name="landlordId" [(ngModel)]="property.landlordId" placeholder="Select Client Type">
                <option *ngFor="let landlord of landlords" [value]=landlord.id> {{landlord.firstName}} {{landlord.lastName}} {{landlord.email}}</option>
              </select>
              </div>
            
              <div class="form-group">
                <agm-map [zoom]="13" [latitude]="belfastLatitude" [longitude]="belfastLongitude" (mapClick)="onChoseLocation($event)">
                  <agm-marker [latitude]="markerLatitude" [longitude]="markerLongitude"></agm-marker>
                </agm-map>
              </div>
  
      <button type="submit" class="btn btn-green" (click)="addProperty(property)">Submit</button>
      
      <button type="submit" class="btn btn-green" routerlink="/properties">Cancel</button>
    </form>
    </div>
