<div class="container first-container">
  <div class="text-center mb-5" *ngIf="loading">
    <i class="fa fa-spinner fa-spin center-block" style="font-size:24px"></i>
  </div>

  <header class="jumbotron search-bar small-padding" *ngIf="!loading">
    
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" [(ngModel)]='listFilter' placeholder="Search..." aria-label="search">
    </div>
    <button routerLink="/addProperty" class="btn-primary rounded fontawesome-button mt-4">Add New Property</button>

  </header>


  <div class="row mb-5" *ngIf="!loading">
    <div class="col-lg-4 col-md-4 sm-6 mb-3" *ngFor="let property of filteredProperties">
      <div class="card">
        <img class="card-img-top" src="{{property.imagePath}}" alt="">
        <div class="card-body">
          <h4 class="card-title text-center primary-text">
            {{property.firstLineAddress}}</h4>
          <h6 class="text-center mb-3">{{property.secondLineAddress}} </h6>
          <p class="card-text">
            <strong>Landlord: </strong> {{property.landlord.firstName}}</p>
          <a [routerLink]="['/properties', property.id]" class="btn btn-primary primary">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>