<div class="container list-object">
        <div class="text-center mb-5" *ngIf="loading">
                <i class="fa fa-spinner fa-spin center-block" style="font-size:24px"></i>
              </div>
    <div *ngIf="property">
  <form #addLeaseForm="ngForm" *ngIf="lease && !deleted">
    <h4>Add New Lease for {{property.firstLineAddress}}</h4>
    <p *ngIf="activeLease != null">Current Lease Runs From {{ activeLease.dateFrom | date: 'dd/MM/yyyy' }} to {{activeLease.dateTo  | date: 'dd/MM/yyyy'}} </p>
  <div class="form-group" [class.has-error]="dateFrom.invalid && dateFrom.touched">
    <label for="dateFrom" class="field-name datepicker" >Date From</label>
    <input #dateFrom="ngModel" type="date" class="form-control" required id="dateFrom" name="dateFrom" [(ngModel)]="lease.dateFrom" placeholder="Enter Date From">
    <div *ngIf="dateFrom.invalid && dateFrom.touched">
        Date From is Required
      </div>
  </div>
  <div class="form-group" [class.has-error]="dateTo.invalid && dateTo.touched">
    <label for="dateTo" class="field-name datepicker" >Date To</label>
    <input #dateTo="ngModel" type="date" class="form-control" required id="dateTo" name="dateTo" [(ngModel)]=" lease.dateTo" placeholder="Enter Date To">
    <div *ngIf="dateTo.invalid && dateTo.touched">
        Date To is Required
        </div>
    </div>
    <div class="form-group" [class.has-error]="amountMonthly.invalid && amountMonthly.touched">
      <label for="amountMonthly" class="field-name" >Monthly Amount</label>
      <input #amountMonthly="ngModel" type="number" class="form-control" required id="amountMonthly" name="amountMonthly" [(ngModel)]="lease.amountMonthly" placeholder="Enter Monthly Amount">
      <div *ngIf="amountMonthly.invalid && amountMonthly.touched">
          Monthly Amount is Required
          </div>
      </div>
      <button type="submit" class="btn btn-green" (click)="addLease(lease)" [disabled]="addLeaseForm.invalid"> Submit</button>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="delete">
      <strong>Warning!</strong> This will delete the Lease it it is Upcoming & has no contracts, if it is past it must be kept for Business Records
      <button type="submit" class="btn primary m-3" (click)="deleteLease(lease)" > Confirm Delete</button>
      <button type="submit" class="btn primary m-3" (click)="cancelDelete()" > Cancel</button>
    </div>
        <div class="alert alert-danger" role="alert" *ngIf="deleted">
            <strong> The Lease has been deleted</strong>
            <button type="submit" class="btn primary m-3" [routerLink]="['/home']" > Back To Home</button>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="deleteFailed">
              <strong> The Lease could Not Be Deleted.</strong>
              <button type="submit" class="btn primary m-3" [routerLink]="['/properties', property.id]" > Back To Property</button>
            </div>
    <button class="btn primary m-3" (click)="deleteStart()" > Delete</button>
    <a [routerLink]="['/leasesInProperty', property.id]" class="btn btn-green">
        <p class="btn-text">Cancel</p>
      </a>
</div>
</div>