<div class="container list-object">
    <div class="alert" [ngClass]="{ 'alert-success': saveSuccess, 'alert-warning': !saveSuccess }" *ngIf="userMessage">
        {{userMessage}}
      </div>
    <form #addroomForm="ngForm">
  
      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label field-name control-label" >Room Name</label>
        <input #name="ngModel" required type="string" class="form-control" name="name" id="name" [(ngModel)]="room.name" placeholder="Enter Room Name">
        <div *ngIf="name.invalid && name.touched">
          Room Name is Required
        </div>
      </div>

      <button type="submit" class="btn btn-green" (click)="addRoom(room)">Submit</button>
      <a [routerLink]="['/properties', propertyId]" class="btn btn-primary primary">Back To Property</a>
    </form>
    </div>