<div class="container first-container">
    <div class="text-center" *ngIf="loading">
        <i class="fa fa-spinner fa-spin center-block" style="font-size:24px"></i>
      </div>
    <header class="jumbotron search-bar small-padding" *ngIf="!loading && filteredClients.length > 0 ">
             
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" [(ngModel)]='listFilter' placeholder="Search..." aria-label="search">
          </div>
          <span class="input-group-text" id="basic-addon1">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-primary" *ngFor="let clientType of clientTypes" [class.active]="filters.clientType===clientType.id.toString()">
                  <input type="radio" name="clientType" id="clientType" value="{{clientType.id}}" (click)="changeClientType(clientType)"> {{clientType.type}}
                </label>              
            </div>           
          </span>
          <button routerLink="/addUser" class="btn-primary rounded m-4">Add New Client</button>     
    </header>

    <div class="row mb-5">
        <div class="col-lg-4 col-md-4 sm-6 mb-3" *ngFor="let client of filteredClients">
            <div class="card">
                <img class="card-img-top" src="{{client.imagePath}}">
                <div class="card-body">
                    <h4 class="card-title text-center primary-text">
                        {{client.firstName}} {{client.lastName}} - {{client.clientType.type}}</h4>
                  <div class="card-block px-3">
                    <p class="card-text">{{client.email}} {{client.phone}} </p>
                    <a [routerLink]="['/clients', client.id]" class="btn btn-primary">Profile</a>
                  </div>
                </div>      
              </div>
            </div>
            <div *ngIf="filteredClients.length === 0 && !loading">No results found</div>
          </div>
    