<div class="container list-object">
    <h3 *ngIf="client">Update Contract for Tenant - {{client.firstName}} {{client.lastName}}</h3>
    <div class="alert alert-info" *ngIf="userMessage">
        {{ userMessage }}
    </div>
    <form #selectPropertyForm="ngForm">
        <div class="form-group">
            <label for="landlordId" class="field-name" >Property</label>
            <select class="form-control" input type="number" required  id="property" name="property" [(ngModel)]="propertyId" (ngModelChange)="getRooms(propertyId, rooms)" placeholder="Select Property">
            <option *ngFor="let property of properties" [value]=property.id> {{property.firstLineAddress}}</option>
        </select>
        </div>
    </form>
</div>

    <div class="container list-object" *ngIf="contract">
        <form #addContractForm="ngForm">
        <div class="form-group">
            <label for="roomId" class="field-name">Room</label>
            <select class="form-control" input type="number" required  id="roomId" name="roomId" [(ngModel)]="contract.roomId" placeholder="Select Property">
            <option *ngFor="let room of rooms" [value]=room.id> {{room.name}}</option>
        </select>
        </div>

    <div class="form-group" [class.has-error]="dateFrom.invalid && dateFrom.touched">
        <label for="dateFrom" class="field-name datepicker" >Date From</label>
        <input #dateFrom="ngModel" type="date" class="form-control" required id="dateFrom" name="dateFrom" [(ngModel)]="contract.dateFrom" placeholder="Enter Date From">
        <div *ngIf="dateFrom.invalid && dateFrom.touched">
            Date From is Required
          </div>
      </div>

    <div class="form-group" [class.has-error]="dateTo.invalid && dateTo.touched">
        <label for="dateTo" class="field-name datepicker" >Date To</label>
        <input #dateTo="ngModel" type="date" class="form-control" required id="dateTo" name="dateTo" [(ngModel)]="contract.dateTo" placeholder="Enter Date To">
        <div *ngIf="dateTo.invalid && dateTo.touched">
            Date To is Required
            </div>
        </div>

    <div class="form-group" [class.has-error]="monthlyAmount.invalid && monthlyAmount.touched">
        <label for="monthlyAmount" class="field-name" >Monthly Amount</label>
        <input #monthlyAmount="ngModel" type="number" class="form-control" required id="monthlyAmount" name="monthlyAmount" [(ngModel)]="contract.monthlyAmount" placeholder="Enter Monthly Amount">
        <div *ngIf="monthlyAmount.invalid && monthlyAmount.touched">
            Date To is Required
            </div>
        </div>
    
    <div class="form-group">
        <label for="depositPaid" class="field-name" >Desposit Paid</label>
        <input #depositPaid="ngModel" type="checkbox" class="form-control" required id="depositPaid" name="depositPaid" [(ngModel)]="contract.depositPaid">
    </div>

    <div class="form-group">
        <label for="paymentTypeId" class="field-name">Payment Type</label>
        <select class="form-control" input type="number" required  id="paymentTypeId" name="paymentTypeId" [(ngModel)]="contract.paymentTypeId" placeholder="Select Payment Method">
        <option *ngFor="let paymentType of paymentTypes" [value]=paymentType.id> {{paymentType.type}}</option>
    </select>
    </div>

    <div class="form-group" [class.has-error]="paymentReference.invalid && paymentReference.touched" *ngIf="contract.paymentTypeId==1">
        <label for="paymentTypeId" class="field-name" >Payment Reference </label>
        <input #paymentReference="ngModel" required type="string" class="form-control" name="paymentReference" id="paymentReference" [(ngModel)]="contract.paymentReference" placeholder="Enter Payment Reference">
        <div *ngIf="paymentReference.invalid && paymentReference.touched">
            Payment Reference is Required
          </div>
      </div>

      <button type="submit" class="btn btn-green" (click)="addContract(contract)" [disabled]="addContract.invalid"> Submit</button>
      <a [routerLink]="['/contract', contract.id]" class="btn btn-primary">Cancel</a>
        </form>


</div>