<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="!success">
        <strong>Error</strong> {{message}}
      </div>
  <div class="card" *ngIf="room">
    <h5 >Upload Images for Room - {{room.name}} - {{room.property.firstLineAddress}}</h5>
    <input #file type="file" multiple (change)="upload(file.files, path, imgPaths, id)" />
    <a [routerLink]="['/room', room.roomId]" class="btn btn-primary m-5">Return to Room</a>
    <br/>
    <div class="holder" *ngFor="let img of roomImages" >
      <img [src]="img.imagePath" style="max-width: 500px; max-height: 500px;">
      <button class="btn btn-green" (click)="deleteImage(img)">Delete Image</button>   
      <br>
   </div>
 
</div>

