<div class="container">
        <div class="text-center mb-5" *ngIf="loading">
                <i class="fa fa-spinner fa-spin center-block" style="font-size:24px"></i>
              </div>
    <div class="card" *ngIf="!loading">
        <div *ngIf="unreadNotifications">
            <h3 class="primary-text">Unread Notifications</h3>
            <div *ngFor="let notification of unreadNotifications">
                <div class="alert alert-info" role="alert">
                    {{notification.contract.client.firstName}} {{notification.contract.client.lastName}} contract will end in {{notification.contractNotificationType.notificationType}}.
                    Added on {{notification.dateAdded | date: 'dd/MM/yyyy'}}
                    <br>
                    <button class="primary display-inline m-3" (click)="markAsRead(notification, contractNotifications, unreadNotifications, readNotifications)">Mark As Read</button> 
                    <button class="primary display-inline m-3" [routerLink]="['/contract', notification.contractId]">View Contract</button>
                </div>
            </div>
            <h4 *ngIf="unreadNotifications.length ==0" class="mt-5 mb-5"> There are no New Notifications</h4>
        </div>
        <div *ngIf="readNotifications && readNotifications.length > 0">
                <h3 class="primary-text">Read Notifications</h3>
            <div *ngFor="let notification of readNotifications">
                <div class="alert alert-light" role="alert">
                    {{notification.contract.client.firstName}} {{notification.contract.client.lastName}} contract will end in {{notification.contractNotificationType.notificationType}}.
                    Added on {{notification.dateAdded | date: 'dd/MM/yyyy'}}
                    <button class="primary float-right" (click)="markAsDeleted(notification)">Delete</button>
                </div>
            </div>
            <h4 *ngIf="readNotifications.length ==0" class="mt-5 mb-5"> There are no New Notifications</h4>
        </div>
    </div>

</div>